.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
}

.content {
  min-width: 45%;
  min-height: 50%;
  background-color: var(--secondary-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  color: var(--text-light);
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input {
  width: 66.666667%;
  height: 2.5rem;

  font-size: large;
  letter-spacing: 2px;

  border: 0;
  border-radius: 0.125rem;

  display: flex;
  padding-left: 0.5rem;

  color: var(--text-light);
  background-color: var(--tertiary-dark);
}

.button {
  width: 66.666667%;
  height: 2.5rem;

  font-size: large;
  letter-spacing: 2px;
  text-transform: uppercase;

  border: 0;
  border-radius: 0.125rem;
  cursor: pointer;
  color: var(--text-light);
  background-color: var(--button-blue);

  &:hover {
    filter: opacity(0.7);
  }
}

.span {
  color: var(--text-light);

  .anchorTag {
    color: var(--button-blue);

    &:hover {
      text-decoration: underline;
    }
  }
}
