.container {
  width: 100vw;
  height: 100vh;

  margin-top: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-dark);
  h1 {
    color: var(--text-light);
  }
}
